#include "resource.h"

IDI_APP ICON DISCARDABLE "jezzball.ico"
IDB_ATLAS BITMAP DISCARDABLE "jezzball_atlas.bmp"
IDB_GAMEOVER_QUESTION BITMAP DISCARDABLE "gameover_question.bmp"
IDB_ABOUT_LOGO BITMAP DISCARDABLE "about_logo.bmp"
IDB_ABOUT_ICON BITMAP DISCARDABLE "about_icon.bmp"
IDB_HIGHSCORE_TROPHY BITMAP DISCARDABLE "highscore_trophy.bmp"
IDB_HIGHSCORE_ICON BITMAP DISCARDABLE "highscore_icon.bmp"
IDB_MESSAGEBOX_BASE BITMAP DISCARDABLE "messagebox_base.bmp"
IDB_HIGHSCORES_BASE BITMAP DISCARDABLE "highscores_base.bmp"
IDB_ABOUT_BASE BITMAP DISCARDABLE "about_base.bmp"
IDB_PAUSED_BASE BITMAP DISCARDABLE "paused_base.bmp"
IDB_GAMEOVER_BASE BITMAP DISCARDABLE "gameover_base.bmp"
IDB_NEWGAME_BASE BITMAP DISCARDABLE "newgame_base.bmp"
1 RT_MANIFEST "jezzball.manifest"

IDM_GAME MENU DISCARDABLE
BEGIN
    POPUP "&Game"
    BEGIN
        MENUITEM "&New Game\tF2", IDM_GAME_NEW
        MENUITEM "&Pause\tF3", IDM_GAME_PAUSE
        MENUITEM "&Demo", IDM_GAME_DEMO
        MENUITEM "&High Scores...", IDM_GAME_HIGHSCORES
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_GAME_EXIT
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&Slow", IDM_OPTIONS_SLOW, CHECKED
        MENUITEM "&Fast", IDM_OPTIONS_FAST
        MENUITEM SEPARATOR
        MENUITEM "Soun&d", IDM_OPTIONS_SOUND, CHECKED
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Contents\tF1", IDM_HELP_CONTENTS
        MENUITEM "&How To Play", IDM_HELP_HOWTOPLAY
        MENUITEM "C&ommands", IDM_HELP_COMMANDS
        MENUITEM "How To &Use Help", IDM_HELP_USEHELP
        MENUITEM SEPARATOR
        MENUITEM "&About JezzBall...", IDM_HELP_ABOUT
    END
END
